#logo{
  background:#004861;
  position:relative;
  min-height:17px;
  border-top:1px solid #004861;
  margin:0 auto;
}

.cf:after,
.cf:before {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:0;
}

body {
  font-family:Arial;
  font-size:12px;
  margin:0 auto;
  
}
.page-content {
  position:relative;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:80px;
}

img{
  display: block;
  width: 35%;
  margin: 10px auto;
}

#bottom {
  background:#d5e11f;
  position:relative;
  min-height:17px;
  border-top:1px solid #d5e11f;
}
#bottom #widget-trigger-holder {
  position:relative;
  left:50%;
  text-align:center;
  float:left;
  margin-top:-10px;
}
#bottom #widget-trigger-holder #widget-trigger {
  display:block;
  position:relative;
  float:left;
  right:50%;
  width:35px;
  height:36px;
  -moz-transition:none;
  -webkit-transition:none;
  -o-transition:color 0 ease-in;
  transition:none;
}
#bottom #widget-trigger-holder #widget-trigger.tab-closed {
  background-position:0 -30px;
}
#bottom #content {
  padding-top:18px;
  padding-bottom:18px;
  text-align:right;
  color:#010101;
  font-size:9px;
  line-height:1.5em;
  clear:both;
}
#bottom #content a {
  color:#010101;
}
#bottom #content a:hover {
  text-decoration:underline;
}

.one-half,
.one-third,
.one-fourth {
  float: left;
  margin-bottom: 40px;
  margin-right: 2.1276%;
  position: relative;
}
.one-half {
  width: 48.9361%;
}
.one-third {
  width: 31.9148%;
}
.one-fourth {
  width: 23.4042%;
}
.last {
  clear: right;
  margin-right: 0 !important;
}